<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de usuario</title>
</head>
<body>
  <div class="container mt-3">
    <div class="search-box mb-2 d-flex justify-content-center">
      <input type="text" class="form-control me-2" placeholder="Buscar producto por nombre..." [(ngModel)]="buscarNombreProducto">
      <button class="btn btn-success" type="button" (click)="filtrarProductos()"><i class="bi bi-search"></i></button>
  </div>

    <div class="d-flex flex-wrap justify-content-between align-items-center p-2 mb-3 px-2">
      <h2 class="mb-2 mb-md-0 fw-bold">Productos</h2>
      <div class="d-flex flex-wrap align-items-center gap-2">
         <select class="form-select filter-select w-auto" [(ngModel)]="buscarTipoProducto" (change)="filtrarProductos()">
        <option value="Todos los productos">Todos los productos</option>
        <option value="Vegetales">Vegetales</option>
        <option value="Frutas">Frutas</option>
        <option value="Carnes">Carnes</option>
        <option value="Lacteos">Lacteos</option>
      </select>
      <button class="btn btn-outline-success" [routerLink]="['/carritoProductos']">
      <i class="bi bi-cart"></i> 
    </button>
    </div>    
  </div>  
</div>
  
<div class="d-flex flex-column min-vh-100">
<div class="container my-2 ms-auto min-height-content">
  <div class="row g-3 justify-content-center flex-grow-1">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor = "let producto of productoFiltrado | paginate: {itemsPerPage: 8, currentPage: paginaActual}">
    <div class="card h-100 shadow-sm border-success">
      <div class="card-body">
        <img *ngIf="producto.imagen" [src]="'https://agot-zaox.onrender.com/uploads/' + producto.imagen"  alt="{{ producto.nombre }}" style="width:100%; height:200px; object-fit:cover; cursor: pointer;" [routerLink]="['/detalleProducto', producto.id]">
        <h4 class="card-title text-info text-uppercase lh-lg text-center">{{ producto.nombre }}</h4>
        <p class="card-text">Descripción: {{ producto.descripcion | slice:0:50}}{{producto.descripcion.length > 50 ? '....': ''}}</p>
        <p class="card-text">Finca: {{ producto.fincaNombre }}</p>
        <p class="card-text">Unidades disponibles: {{ producto.unidades }}</p>

         <div class="mt-auto d-flex justify-content-between align-items-center border-top pt-2">
            <strong class="me-2"><i class="bi-currency-dollar"></i>{{ producto.precio_unidad }}</strong>
            <button class="btn btn-success" (click)="agregarAlCarrito(producto)"><i class="bi bi-cart"></i> Agregar al carrito</button>
          </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
  <div class="container mt-5 mb-5">
    <pagination-controls (pageChange)="paginaActual = $event" [responsive]="true" previousLabel="Anterior"
      nextLabel="Siguiente" class="pagination justify-content-center"> 
    </pagination-controls>
</div>
</body>
</html>

