.dashboard-content {
  margin-left: 230px;
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s;
 }

.stats-card {
  color: white;
  border-radius: 15px;
  padding: 20px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.banner-container {
  position: relative;   
}

.logo-img {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(97, 201, 66);
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease; 
}

@media (max-width: 992px){
  .dashboard-content{
    margin-left: 0;
  }

  .logo-img {
    width: 150px;
    height: 150px;
    top: 20px;
    left: 20px;
  }

  .stats-card {
    min-height: 100px;
  }
}

@media (max-width: 576px){
  .logo-img {
    width: 120px;
    height: 120px;
    top: 15px;
    left: 15px;
  }
}

