<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 w-100" style="max-width: 600px; margin-left: 130px; background-color: #48c0623f; border: 2px solid #28a792;">
    <h3 style="color: #198754; text-shadow: 1px 1px 0 #6c757d; text-align: center;">🍎 Actualizar producto</h3>
    
  <form (ngSubmit)="updateProducto()">
        <div class="mb-3">
      <label for="tipo_producto" class="form-label fw-semibold">Tipo de producto</label>
      <input type="text" id="tipo_producto" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="tipo_producto" name="tipo_producto" required>
    </div>

    <div class="mb-3">
      <label for="nombre" class="form-label fw-semibold">Nombre del Producto</label>
      <input type="text" id="nombre" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="nombre" name="nombre" required>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label fw-semibold">Descripción</label>
      <input type="text" id="descripcion" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="descripcion" name="descripcion" required>
    </div>

    <div class="mb-3">
      <label for="unidades" class="form-label fw-semibold">Unidades</label>
      <input type="text" id="unidades" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="unidades" name="unidades" required>
    </div>

    <div class="mb-3">
      <label for="precio_unidad" class="form-label fw-semibold">Precio Unidad</label>
      <input type="number" id="precio_unidad" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="precio_unidad" name="precio_unidad" required>
    </div>

    <div class="mb-3">
    <label for="fincaId" class="form-label fw-semibold">Seleccionar Finca</label>
    <select id="fincaId" class="form-control" style="border: 2px solid #28a792;" [(ngModel)]="finca_id" name="finca_id" required>
    <option *ngFor="let finca of fincas" [value]="finca?.id">
      {{ finca?.nombre }}
    </option>
  </select>
</div>
     <div class="d-flex justify-content-between">  
    <button type="submit" class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" [routerLink]="['/product']">Cancelar</a>
    </div>
  </form>
</div>
