<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login-logo">
            <i class="fa-solid fa-user">
                <img src="https://cdn-icons-png.flaticon.com/128/709/709699.png" alt="usuario">
            </i> 
        </div>
        <h1 class="fs-2 fw-bold text-uppercase lh-lg">LOGIN</h1>
        <form (ngSubmit)="login()">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" [(ngModel)]="nombre_user" name="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" [(ngModel)]="contrasena" name="password" required>
                  <span
                class="eye-icon"
                onclick="const p = this.previousElementSibling; p.type = p.type === 'password' ? 'text' : 'password';">
                    👁️
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </form>
        
        <div class="info-container">
            <div id="login-credentials" class="login-credentials" data-test="login-credentials">
            <h4>Username</h4>
            User_admin    
            <br>
            </div>
            <div class="login_password" data-test="login_password">
            <h4>Password</h4>
            Secret_password
        </div>
    </div>
    </div>   
</body>
</html>