body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eefcf6;
    padding:1rem;
    background-image: url('/login.jpg');
    background-size: cover;                            /* este es para que la imagen de fondo cubra toda la pantalla*/
    background-position: center;
    height: 100vh;
    display: flex;                                     /* este es para centrar el contenido de forma vertical*/
    justify-content: center;                           
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
}

div {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(124, 208, 223, 0);  
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
}

.login-credentials, .login_password {
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.mb-3 {
    font-size: 15px;       
    width: 100%;           
    padding: 5px;
    position: relative; 
}

.eye-icon {
    position: absolute;
    top: 68%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

