.dashboard-content {
  margin-left: 240px;
  padding: 20px;
  transition: all 0.3s;
}

.top-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 10px;
}

body {
  background-color: #f8f9fa;
}

.bi-plus {
  margin-bottom: 15px;
}

.buscador-id {
  min-width: 300px;
}

@media (max-width: 992px) {
  .dashboard-content {
    margin-left: 0; 
  }
}