<div class="dashboard-content">
  <div class="row mb-3">
    <div class="col-12">
      <img src="insumos.jpg" alt="Banner" class="img-fluid top-banner">
    </div>
  </div>

<h2 class="fs-3 fw-bold text-success text-uppercase lh-lg">Listado de insumos</h2>
   
<div class="d-flex justify-content-between mb-3">
  <a class="btn btn-success bi-plus" [routerLink]="['/insumos/add']">Agregar insumo</a>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar nombre de insumo" [(ngModel)]="buscarNombreInsumo">
      <button class="btn btn-success" type="button" (click)="filtrarInsumo()">Buscar</button>
    </div>
  </div>
</div>
  
  <table class="table table-bordered table-hover border-success table-striped mt-3">
    <thead>
      <tr>
        <th scope="col" class="bi bi-hash me-2"> Id</th>
        <th scope="col" class="bi bi-tools"> Nombre</th>
        <th scope="col" class="bi-cash"> Precio Unitario</th>
        <th scope="col" class="bi-file-earmark-text"> Descripción</th>
        <th scope="col" class="bi-box-seam"> Cantidad Disponible</th>
        <th scope="col" class="bi-person"> Proveedor</th>
        <th scope="col" class="bi-gear"> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let insumo of insumoFiltrado">
        <th scope="row">{{ insumo.id }}</th>
        <td>{{ insumo.nombre }}</td>
        <td>{{ insumo.precioUnitario }}$</td>
        <td>{{ insumo.descripcion }}</td>
        <td>{{ insumo.cantidadDisponible }}</td>
        <td>{{ getNombreProveedor(insumo.proveedorId) }}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-primary bi-pencil" [routerLink]="['/insumos/edit', insumo.id]">Editar</a>
            <button class="btn btn-danger bi-trash" (click)="deleteInsumo(insumo.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
