<div class="dashboard-content">
  <div class="row mb-3">
    <div class="col-12">
      <img src="mercado.jpg" alt="Banner" class="img-fluid top-banner">
    </div>
  </div>

<h2 class="fs-3 fw-bold text-success text-uppercase lh-lg">Listado de mercados</h2>

<div class="d-flex justify-content-between mb-3">
  <a class="btn btn-success bi-plus" [routerLink]="['/mercado/add']">Agregar mercado</a>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar nombre de mercado" [(ngModel)]="buscarNombreMercado">
      <button class="btn btn-success" type="button" (click)="filtrarMercado()">Buscar</button>
    </div>
  </div>
</div>

  <table class="table table-bordered table-hover border-success table-striped mt-3">
    <thead>
      <tr>
        <th scope="col" class="bi bi-hash me-2"> Id</th>
        <th scope="col" class="bi bi-box"> Nombre</th>
        <th scope="col" class="bi bi-file-earmark-text"> Descripción</th>
        <th scope="col" class="bi bi-gear"> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of mercadoFiltrado">
        <th scope="row">{{c.id}}</th>
        <td>{{c.nombre}}</td>       
        <td>{{c.descripcion}}</td>
        <td>
        <div class="btn-group" role="group">
        <a class="btn btn-primary bi-pencil" [routerLink]= "['/mercado/edit', (c.id)]">Editar</a>
        <button class="btn btn-danger bi-trash" (click)="deleteMercado(c.id)">Eliminar</button>  
      </div>
      </td>
    </tbody>
</table>
</div>
