<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 w-100" style="max-width: 600px; margin-left: 130px; background-color: #48c0623f; border: 2px solid #28a792;">
    <h3 style="color: #198754; text-shadow: 1px 1px 0 #6c757d; text-align: center;">🏪 Actualizar mercado</h3>

<div class="container">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label fw-semibold">Nombre</label>
        <input [(ngModel)]="nombre"type="text" class="form-control" style="border: 2px solid #28a792;" id="nombre" name="nombre">
      </div>
    
        <div class="mb-3">
          <label for="descripcion" class="form-label fw-semibold">Descripcion</label>
          <input [(ngModel)]="descripcion" class="form-control" style="border: 2px solid #28a792;" id="descripcion" name="descripcion"> 
        </div>
        
        <div class="d-flex justify-content-between">  
        <button type="button" class="btn btn-success" (click)="updateMercado()">Actualizar</button>
        <a class="btn btn-secondary" [routerLink]="['/mercado']">Cancelar</a>
        </div>
      </form>
    </div>
    
