<div class="d-flex">
  <div class="sidebar d-flex flex-column align-items-center"  *ngIf= "esAdmin() && !obtenerLogin()"> 
    <img src="usuario.jpg" alt="Avatar" class="avatar mb-2">
    <h5 class="mb-0">User_admin</h5>
    <small class="mb-3">Administrador</small>
    
    <ul class="nav flex-column w-100 px-3">
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['home/home-admin']">
          <i class="bi bi-house me-2"></i> Inicio
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/product']">
          <i class="bi bi-basket me-2"></i> Productos
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/insumos']">
          <i class="bi bi-leaf me-2"></i> Insumos
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/fincas']">
          <i class="bi bi-apple me-2"></i> Fincas
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/proveedores']">
          <i class="bi bi-people me-2"></i> Proveedores
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/clientes']">
          <i class="bi bi-people me-2"></i> Clientes
        </a>
      </li>
      <li class="nav-item mb-4">
        <a class="nav-link d-flex align-items-center" [routerLink]="['/ventas']">
          <i class="bi bi-cart me-2"></i> Ventas
        </a>
      </li>
    </ul>
    <button class="btn bg-danger" style="margin-top: 7rem;" (click)="logout()">
      Cerrar Sesión
      <i class="bi bi-box-arrow-right ms-2"></i>
    </button>
  </div>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>