.btn-cantidad {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #28a745;
  background-color: white;
  color: #28a745;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: all 0.2s ease;
}

.btn-cantidad:hover {
  background-color: #28a745;
  color: white;
}