<div class="container my-5">
  <div class="row justify-content-center g-4">
    <div class="col-12 col-lg-8">
      <div class="card shadow-sm border-success border-2">
        <div class="card-body px-2 px-sm-3">
          <h4 class="text-success mb-4 text-lg-start">Carrito de Compras</h4>

    <div class="table-responsive">
    <table class="table align-middle table-hover table-striped w-100 m-0">
      <thead class="table-light border-bottom">
        <tr>
          <th class="text-center">Producto</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Precio unidad</th>
          <th class="text-center">Precio total</th>
          <th class="text-center">Cancelar</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let producto of productosCarrito">
        <td class="text-center">{{ producto.producto?.nombre }}</td>
        <td class="text-center">{{ producto.cantidad }}</td>
        <td class="text-center">${{ producto.producto?.precio_unidad }}</td>
        <td class="text-center">${{ producto.precio_total }}</td>
        <td class="text-center">
          <button class="btn btn-outline-danger"(click)="deleteProductoCarrito(producto.id)"><i class="bi bi-x-circle-fill"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    </div>
  </div>
</div>

 <div class="col-12 col-md-6 col-lg-3">
<div class="card border-success border-2 h-100">
  <div class="card-body">
    <h5 class="card-title border-bottom border-dark pb-2 mb-3 text-md-start">Resumen del pedido</h5>

    <div *ngFor="let producto of productosCarrito" class="d-flex justify-content-between mb-2">
        <span>{{ producto.producto?.nombre }}</span>
        <span>${{ producto.precio_total }}</span>
    </div>

    <div class="d-flex justify-content-between border-top pt-3 fw-bold">
      <span>Total</span>
      <span><i class="bi-currency-dollar"></i>{{precioTotalCarrito()}}</span>
    </div>

    <a class="btn btn-success w-100 mt-4" (click)="realizarCompra()">Realizar el pago</a>
    <div class="d-flex justify-content-center mt-3 px-2"> <button class="btn btn-light w-100" [routerLink]="['/home/home-cliente']">Seguir comprando</button> 
    </div>
  </div>
  </div>
</div>
  
  