<div class="dashboard-content">
  <div class="row mb-3">
    <div class="col-12">
      <img src="clientes.jpg" alt="Banner" class="img-fluid top-banner">
    </div>
  </div>

  <h2 class="fs-3 fw-bold text-success text-uppercase lh-lg">Listado de clientes</h2>
  
  <div class="d-flex justify-content-between mb-3">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar nombre de cliente" [(ngModel)]="buscarNombreCliente">
        <button class="btn btn-success" type="button" (click)="filtrarCliente()">Buscar</button>
      </div>
    </div>
  </div>  

  <table class="table table-bordered table-hover border-success table-striped mt-3">
    <thead>
      <tr>
        <th scope="col" class="bi bi-hash me-2"> Id</th>
        <th scope="col" class="bi-person"> Nombre</th>
        <th scope="col" class="bi-geo-alt"> Ubicación</th>
        <th scope="col" class="bi-telephone"> Teléfono</th>
        <th scope="col" class="bi bi-person-vcard"> Tipo de usuario</th>
        <th scope="col" class="bi-gear"> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesFiltrados">
        <th scope="row">{{ cliente.id }}</th>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.id_user }}</td>
        <td>
          <div class="btn-group" role="group">
            <button class="btn btn-danger bi-trash" (click)="deleteCliente(cliente.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>