<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel Admin - Agro Tech</title>
</head>
<body>
  <!-- Aqui es donde incluyo la imagen y logo del home -->
  <div class="dashboard-content">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-12 position-relative">
          <img src="home.jpg" class="top-banner" alt="Banner">
          <img src="agrotech.jpg" class="logo-img" alt="logo agrotech">
        </div>
      </div>

      <!-- Aqui mostramos las estadisticas que vemos en el home -->
      <div class="row g-4">
        <div class="col-md-3">
          <div class="bg-primary stats-card bi">
            <h5 class="bi bi-box"> Total productos</h5>
            <p class="fs-4"><i class="fas fa-box"></i> {{totalProductos}}</p>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="bg-success stats-card ">
            <h5 class="bi bi-people	"> Agricultores registrados</h5>
            <p class="fs-4"><i class="fas fa-user-far"></i> {{totalAgricultores}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-danger stats-card">
            <h5 class="bi bi-leaf"> Insumos registrados</h5>
            <p class="fs-4"><i class="fas fa-leaf"></i> {{totalInsumos}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-warning stats-card">
            <h5 class="bi bi-shop"> Mercados registrados</h5>
            <p class="fs-4"><i class="fas fa-store"></i> {{totalMercados}}</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="bg-info stats-card">
            <h5 class="bi bi-truck"> Proveedores registrados</h5>
            <p class="fs-4"><i class="fas fa-truck"></i> {{totalProveedores}}</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</body>
</html>

